* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5efed;
}

.row {
  width: 100%;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.text-center {
  text-align: center;
}

.header-title {
  color: #28262c;
}

.btn-wrapper {
  margin: 0 auto;
}

.button {
  background-color: #1c77c3;
  color: #f5efed;
  border: #124d7d 1.5px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.add-entry-btn {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  transition-duration: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  transition-duration: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-btn:hover {
  letter-spacing: 2px;
}

.add-entry-btn:hover {
  transform: translateY(-5px);
}

.flex-row {
  display: flex;
}

.just-center {
  justify-content: center;
}

.vh-half {
  height: 50vh;
  align-items: center;
}

.modal-container {
  background-color: #f5efed;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.transparent-bg {
  background-color: #323232a1;
}

.pos-rel {
  position: relative;
}

.window-full-height {
  height: 100vh;
}

.pos-fixed {
  position: fixed;
  top: 0;
}

.align-center {
  align-items: center;
}

.modal-title {
  color: #28262c;
}

select {
  height: 1.5rem;
  padding-right: 1rem;
  margin-right: 1rem;
}

textarea {
  width: 100%;
}

.text-right {
  text-align: right;
}

.padding-btm {
  padding-bottom: 1.5rem;
}

/* css colors
blue: #124D7D
black: #28262C
red: #EA2B1F
white: #F5EFED
blue: #1C77C3 */
